/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

em {
    font-weight: bold;
    font-style: normal;
    color: black;
}

.main-content {
    position: relative;
    top: 64px;
}

.center {

}

.button {

}

.image-container {

}

.image-container img {

}

@media only screen and (max-width: 760px) {
    .main-content {

    }
}

/* Header */

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 64px;
    background-color: white;
    top: 0px;
}

header .content {
    display: flex;
    align-items: center;
    margin: 12px 24px;
}

header .logo {
    display: flex;
    flex: 1;
    color: grey;
}

header img {
    width: auto;
    height: 48px;
}

header p {
    align-self: center;
    font-size: 24px;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 16px;
    font-size: 18px;
}

nav a {
    vertical-align: text-bottom;
    color: grey;
}

header .mobile {
    display: none;
}

#start-section {
    background: darkgrey;
    display: flex;
}

#start-section img {
    width: 60%;
    height: auto;
    padding: 32px 24px;
}

#start-section .content {
    text-align: left;
    align-self: center;
}

#start-section .button {
    background-color: grey;
    width: 50%;
    height: 24px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}