/* Import rules */

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* General rules */

* {
  margin: 0;
  padding: 0;
}

main img {
  max-width: 80%;
}

aside img {
  display: none;
}
.flex-container {
  display: flex;
}

.padding {
  padding: 32px 0;
}

html {
  font-size: 12px;
  font-family: 'Gowun Dodum';
  color: grey;
}

main {
  text-align: center;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
  margin: 3% 0;
}

h4 {
  font-size: 1.4rem;
}

main .flex-container {
  flex-direction: column;
}

nav p,
#info-banner p {
  display: none;
}

/* Header rules */

header {
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

#logo {
  align-items: center;
  height: 50%;
  margin-left: 24px;
}

p {
  font-size: 1.4rem;
  margin: 0 2%;
}

#logo strong {
  margin: 0 1.2%;
  color: rgb(54, 54, 54);
}

nav {
  margin-right: 24px;
  align-items: center;
}

nav a {
  max-width: 20%;
  margin: 0 4%;
}

/* Banner rules */

#banner {
  background-color: lightgray;
  color: rgb(54, 54, 54);
}

#banner p {
  display: none;
}

#banner button {
  padding: 3%;
  background-color: rgb(54, 54, 54);
  color: white;
  border: none;
  width: 80%;
  margin-top: 4%;
  font-weight: 800;
  font-size: 1.4rem;
}

/* Information rules */

#info {
  margin-bottom: 20%;
}

#info .text-content {
  padding: 4% 0;
}

aside article:nth-child(2n+1){
  background-color: lightgray;
}

/* Courses rules */

#courses {
  background-color: lightgray;
  color: rgb(54, 54, 54);
}

#courses img {
  margin: 2% 0;
  max-width: 60%;
}

#courses h4 {
  margin-bottom: 2%;
}

#courses p {
  display: none;
}

#courses .flex-container {
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#courses .flex-div {
  max-width: 350px;
}

/* Thesis rules */

#thesis {
  flex-flow: row wrap;
  justify-content: center;
}

#thesis article {
  margin-bottom: 5%;
}

#thesis .text-content p {
  display: none;
}

#thesis img {
  display: inline-block;
  height: 180px;
  margin: 2% 0;  
}

#thesis aside {
  width: 100%;
}

aside .padding:nth-child(2n+1) {
  background-color: lightgray;
}

footer {
  background-color: lightgray;
}

footer .flex-container {
  align-items: center;
  justify-content: center;
}

footer a {
  margin: 1% 3%;
}
