/* Import rules */

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* General rules */

* {
  margin: 0;
  padding: 0;
}

main img {
  max-width: 80%;
}

aside img {
  display: none;
}

.flex-container {
  display: flex;
}

.padding {
  padding: 32px 0;
}

html {
  font-size: 12px;
  font-family: 'Gowun Dodum';
  color: grey;
}

main {
  text-align: center;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
  margin: 3% 0;
}

h4 {
  font-size: 1.4rem;
}

h2,
h3,
h4 {
  color: rgb(54, 54, 54);
}

main .flex-container {
  flex-direction: column;
}

nav p,
#info-banner p {
  display: none;
}

/* Header rules */

header {
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

#logo {
  align-items: center;
  height: 50%;
  margin-left: 24px;
}

p {
  font-size: 1.4rem;
  margin: 0 2%;
}

#logo strong {
  margin: 0 1.2%;
  color: rgb(54, 54, 54);
}

nav {
  margin-right: 24px;
  align-items: center;
}

nav a {
  max-width: 20%;
  margin: 0 4%;
}

/* Banner rules */

#banner {
  background-color: rgba(211, 211, 211, 0.4);
  color: rgb(54, 54, 54);
}

#banner p {
  display: none;
}

#banner button {
  padding: 3%;
  background-color: rgb(54, 54, 54);
  color: white;
  border: none;
  width: 80%;
  margin-top: 4%;
  font-weight: 800;
  font-size: 1.4rem;
}

/* Information rules */

#info {
  margin-bottom: 20%;
}

#info .text-content {
  padding: 4% 0;
  max-width: 300px;
}

aside article:nth-child(n){
  min-height: 130px;
  align-items: center;
}

aside article:nth-child(2n+1){
  background-color: rgba(211, 211, 211, 0.4);
}

/* Courses rules */

#courses {
  background-color: rgba(211, 211, 211, 0.4);
  color: rgb(54, 54, 54);
}

#courses img {
  margin: 2% 0;
  max-width: 60%;
}

#courses h4 {
  margin-bottom: 2%;
}

#courses p,
#courses h5 {
  display: none;
}

#courses .flex-container {
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#courses .flex-div {
  max-width: 350px;
}

/* Thesis rules */

#thesis {
  flex-flow: row wrap;
  justify-content: center;
}

#thesis article {
  margin-bottom: 5%;
}

#thesis .text-content p {
  display: none;
}

#thesis img {
  display: inline-block;
  max-height: 160px;
  margin: 2% 0;  
}

#thesis aside {
  width: 100%;
}

aside .padding:nth-child(2n+1) {
  background-color: rgba(211, 211, 211, 0.4);
}

footer {
  background-color: rgba(211, 211, 211, 0.4);
}

footer .flex-container {
  align-items: center;
  justify-content: center;
}

footer a {
  margin: 0 3%;
}

/* Ipad rules */

@media only screen and (min-width: 600px) {

  html {
    font-size: 16px;
  }

  .padding {
    padding: 10% 0;
  }

  aside img {
    display: inline-block;
    margin: 5% 0;
    max-width: 80%;
  }

  #banner h2 {
    margin: 5% 0;
    font-size: 2.4rem;
  }

  #info p {
    font-size: 1.2rem;
    font-style: italic;
  }

  #info-banner p {
    display: inline-block;
    margin-bottom: 5%;
    max-width: 80%;
  }

  .bottom-note {
    font-size: 1rem;
    color:rgb(54, 54, 54);
  }
  
  aside article {
    max-width: 50%;
    background-color: white !important;
  }

  aside.flex-container {
    flex-flow: row wrap;
    justify-content: center;
  }

  #info {
    margin-bottom: 0;
  }

  h3 {
    font-size: 2.2rem;
  }

  #courses .flex-container {
    align-content: center;
  }

  #courses p {
    display: inherit;
    font-size: 1rem;
    max-width: 60%;
    min-height: 100px;
  }

  #courses .text-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  
  .video-container img {
    width: 700px;
    max-height: 100% !important;
  }

  #thesis .text-content p {
    display: inline-block;
    font-size: 1rem;
    margin-top: 2%;
  }

  aside .padding:nth-child(n) {
    background-color: rgba(211, 211, 211, 0.4);
    min-width: 50%;
  }

  footer.padding {
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  footer .flex-container {
    min-width: 50%;
  }

  footer p {
    font-size: 1rem;
  }

}

/* Desktop rules */

@media only screen and (min-width: 1000px) {

  .padding {
    padding: 32px 0;
  }

  nav a {
    padding: 0 8px;
    margin: 0;
    max-width: 100%;
  }

  nav img {
    display: none;
  }

  nav p {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    color: rgb(54, 54, 54);  
  }

  #banner.flex-container {
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  #banner div {
    max-width: 50%;
  }

  #banner div:last-child {
    max-width: 40%;
  }

  #banner img {
    max-width: 90%;
  }

  #banner p {
    display: inline-block;
  }

  .content-container {
    text-align: start;
  }

  #banner button {
    max-width: 200px;
    font-size: 1rem;
  }

  #info.flex-container {
    flex-flow: row nowrap;
  }

  #banner-container {
    max-width: 60%;
    margin-left: 24px;
  }

  #info article img {
    max-width: 100%;
  }

  #info-banner {
    text-align: start;
  }

  #info-banner p {
    max-width: 100%;
    margin-left: 0;
  }

  .bottom-note {
    font-size: .8rem !important;
  }

  aside {
    max-width: 40%;
  }

  aside article {
    max-width: 100%;
    flex-flow: row nowrap !important;
    align-items: flex-start !important;
  }

  aside article:nth-child(n) {
    min-height: unset;
    padding-left: 5%;
  }

  aside article:last-child {
    background-color: rgba(211, 211, 211, 0.4) !important;
    padding: 5% 0 0 5%;
  }

  #info article img {
    width: 100%;
    height: 75%;
  }

  #info .text-content {
    max-width: 65%;
    align-items: flex-start;
    margin-left: 2%;
  }

  aside .image-container {
    max-width: 35%;
    height: 100%;
  }

  aside img {
    margin: 0;
  }

  aside p {
    margin: 0;
    text-align: start;
    font-style: normal !important;
    font-size: .9rem !important;
  }

  #courses .flex-div {
    background-color: white;
    max-width: 23%;
    margin: 2% 2%;
    height: 300px;
  }

  #courses h5 {
    display: inline-block;
    margin-bottom: 2%;
    color: darkgray;
  }

  #courses p {
    max-width: 100%;
    font-size: 1rem;
  }

  #courses img {
    max-width: 100%;
    margin: 0;
  }
}